Name- Jay Ramesh Kolhe

Roll No= 9168

Lists

In [22]:
A=["Jay","Kolhe",23,"Student"]
B=["Sir Parashurambhau College","Statistics","Autonomous","Sadashiv Peth",411030]
print(A)
print(B)

['Jay', 'Kolhe', 23, 'Student']
['Sir Parashurambhau College', 'Statistics', 'Autonomous', 'Sadashiv Peth', 411030]

Tupples

In [23]:
a=("Jay","Kolhe",23,"Student")
b=("Sir Parashurambhau College","Statistics","Autonomous","Sadashiv Peth",411030)
print(a)
print(b)

('Jay', 'Kolhe', 23, 'Student')
('Sir Parashurambhau College', 'Statistics', 'Autonomous', 'Sadashiv Peth', 411030)

In [24]:
print(A[0:3])
print(B[1:4])
print(a[3])
print(b[1])

['Jay', 'Kolhe', 23]
['Statistics', 'Autonomous', 'Sadashiv Peth']
Student
Statistics

Class

In [25]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

Copy

In [26]:
print(A)
A1=A.copy()
print(A1)
#### Tupples cannot be copied####

['Jay', 'Kolhe', 23, 'Student']
['Jay', 'Kolhe', 23, 'Student']

Append

In [27]:
print(B)
B.append("Autonomous")
print(B)

['Sir Parashurambhau College', 'Statistics', 'Autonomous', 'Sadashiv Peth', 411030]
['Sir Parashurambhau College', 'Statistics', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Count

In [28]:
print(A.count(" Jay"))
A.append("Jay")
print(A.count("Jay"))

0
2

Delete List

In [29]:
try:
 print(A1)
 del A1
 print(A1)
except:
    pass

### List A1 is deleted therefore it is showing error
### Used Try and Expect to maintain the continuity of the program

['Jay', 'Kolhe', 23, 'Student']

Extend

In [30]:
print(A)
print(B)
A.extend(B)
print(A)

['Jay', 'Kolhe', 23, 'Student', 'Jay']
['Sir Parashurambhau College', 'Statistics', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']
['Jay', 'Kolhe', 23, 'Student', 'Jay', 'Sir Parashurambhau College', 'Statistics', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Index

In [31]:
print(B.index("Sadashiv Peth"))
print(A.index("Autonomous"))

### If the elements are repeated in the list then index() will provide the index no. of first element

3
7

Sort

In [32]:
Y=["P","Q","R","S"]
print(Y)
Y1=[7,5,2,8]
print(Y1)
Y.sort()
Y1.sort()
print(Y)
print(Y1)

['P', 'Q', 'R', 'S']
[7, 5, 2, 8]
['P', 'Q', 'R', 'S']
[2, 5, 7, 8]

Access

In [33]:
print(Y[:2])
print(Y1[0:])

['P', 'Q']
[2, 5, 7, 8]

Nested List

In [34]:
ABlist=["Jay","Sir Parashurambhau College",[23,411030]]
print(ABlist)
print(ABlist[2])

['Jay', 'Sir Parashurambhau College', [23, 411030]]
[23, 411030]